<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangweiming.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/title_bg">
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.wangweiming.myapplication.BmobContentProvider">
        </provider>
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_user_denglu" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_main" />
        <activity android:name="com.wangweiming.myapplication.view.webview.Webview_jiaodianfei" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_user_forgetpwd" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_user_zhuce" />
        <activity android:name="com.wangweiming.myapplication.view.webview.WebView_photo" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_Goods" />
        <activity android:name="com.wangweiming.myapplication.view.webview.WebView_xyfw" />
        <activity android:name="com.wangweiming.myapplication.view.webview.WebView_xlcx" />
        <activity android:name="com.wangweiming.myapplication.view.webview.Webview_dfcz" />
        <activity android:name="com.wangweiming.myapplication.view.webview.WebView_jzxx" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_ddccz" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_dlkd" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_dnwx" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_xxscz" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_cdcz" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_ztcy" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_bcfw" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_eswpjy" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_addbook" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_additems" />
        <activity android:name="com.wangweiming.myapplication.view.activity.Activity_addserver"></activity>
    </application>

</manifest>