<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangweiming.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/title_bg">
        <activity android:name=".view.activity.Activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.wangweiming.myapplication.BmobContentProvider" />

        <activity android:name=".view.activity.user_denglu" />
        <activity android:name=".view.activity.Activity_main" />

        <activity android:name=".view.activity.user_forgetpwd" />
        <activity android:name=".view.activity.user_zhuce" />

        <activity android:name=".view.activity.Main_motor" />
        <activity android:name=".view.activity.Main_kuaidi" />
        <activity android:name=".view.activity.Main_fixcomputer" />
        <activity android:name=".view.activity.Main_book"
                  android:launchMode="singleTask"/>
        <activity android:name=".view.activity.Main_field" />
        <activity android:name=".view.activity.Main_travel" />
        <activity android:name=".view.activity.Main_car" />
        <activity android:name=".view.activity.Main_secondHand" />
        <activity android:name=".view.activity.Activity_addbook" />
        <activity android:name=".view.activity.Activity_additems" />
        <activity android:name=".view.activity.Activity_addserver" />
        <activity android:name=".view.activity.ProductDetailActivity" />
    </application>

</manifest>